
.header{
    header{background-color: rgb(33, 33, 33);}

    .nav_header{
    .contenedor{
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
    .nav-item{
    max-width: 100%;
    padding: 5px;
        }
    .nav-link{
    font-family: "pepo";
    font-weight: 800px;
    color: #fff;
    gap: 1.8rem;    

     &:hover{
        text-decoration: underline;
     }
    }
    .header__logo{
    width: 90px;
    height: 80px;
    }
    .navbar__header{
    background-color: rgb(67, 67, 67);

        }
    }
}



// .nav-link:hover{
//     text-decoration: underline;
// }



