@import'header.scss';

@import'seccionpregun.scss';

@import'global.scss';

@import"seccionmarcas.scss";

@import"galeriagrid.scss";

@import'tarjetas.scss';

@import'contacto.scss';

@import'quienessomos.scss';

@media (max-width:912px) and (min-width:700px){
    .container{
        .LANZAMIENTOS{
        img{
            width: 170px;
            height: 200px;
            }
        }
        .MUNDIAL{
            img{
                width: 180px;
                height: 200px;
            }
        }   
        .RECOMENDADOS{
            img{
                width: 210px;
                height: 200px;
            }
        }
    }
    
}
@media(max-width:710px) and (min-width:601px) {
    .container{
        
        .card{
           margin: 10px;
           .LANZAMIENTOS{
            img{
                width: 155px;
                height: 165px;
                }
            }
            .MUNDIAL{
                img{
                    width: 150px;
                    height: 170px;
                }
            }   
            .RECOMENDADOS{
                img{
                    width: 180px;
                    height: 170px;
                }
            }
            .botas{
                img{
                    width: 185px;
                    height: 170px;
                    // .zapas img{
                    //     width: 310px;
                    //     height: 300px;
                    // }
                }
            }
            .zapas{
                img{
                    width: 185px;
                    height: 170px;
                }
            }
            
        }
        
    }
}

@media(max-width:600px) {
    .container{
        display: grid;
        grid-template-columns:2fr;
        width: 90%;
    }
    .galeria-container{
        grid-template-columns:min-content;
        margin-left: 5px;
    }
    li{
        font-size: 20px;
    }
    h2{
        align-items: center;
        padding: 15px;
        margin-left: 5px;
    }
    h3{
        align-items: center;
        padding: 15px;
    }
    header{
        display: flex;
        flex-direction: column;
    }
    .card{
        .LANZAMIENTOS{
        img{
            width: 300px;
            height: 300px;
        }
    } 
    }
   
}